# C
C/*.d
C/*.o
C/*.ko
C/*.obj
C/*.elf
C/*.ilk
C/*.map
C/*.exp
C/*.gch
C/*.pch
C/*.lib
C/*.a
C/*.la
C/*.lo
C/*.dll
C/*.so
C/*.so.*
C/*.dylib
C/*.exe
C/*.out
C/*.app
C/*.i*86
C/*.x86_64
C/*.hex
C/*.dSYM/
C/*.su
C/*.idb
C/*.pdb
C/*.mod*
C/*.cmd
C/.tmp_versions/
C/modules.order
C/Module.symvers
C/Mkfile.old
C/dkms.conf
# Go
Go/*.exe
Go/*.exe~
Go/*.dll
Go/*.so
Go/*.dylib
Go/*.test
Go/*.out
Go/go.work
Go/go.work.sum
# Gradle
Gradle/.gradle
Gradle/**/build/
Gradle/!src/**/build/
Gradle/gradle-app.setting
Gradle/!gradle-wrapper.jar
Gradle/!gradle-wrapper.properties
Gradle/.gradletasknamecache
Gradle/.project
Gradle/.classpath
# Haskell
Haskell/dist
Haskell/dist-*
Haskell/cabal-dev
Haskell/*.o
Haskell/*.hi
Haskell/*.hie
Haskell/*.chi
Haskell/*.chs.h
Haskell/*.dyn_o
Haskell/*.dyn_hi
Haskell/.hpc
Haskell/.hsenv
Haskell/.cabal-sandbox/
Haskell/cabal.sandbox.config
Haskell/*.prof
Haskell/*.aux
Haskell/*.hp
Haskell/*.eventlog
Haskell/.stack-work/
Haskell/cabal.project.local
Haskell/cabal.project.local~
Haskell/.HTF/
Haskell/.ghc.environment.*
# Java
Java/*.class
Java/*.log
Java/*.ctxt
Java/.mtj.tmp/
Java/*.jar
Java/*.war
Java/*.nar
Java/*.ear
Java/*.zip
Java/*.tar.gz
Java/*.rar
Java/hs_err_pid*
Java/replay_pid*
# Kotlin
Kotlin/Java.gitignore
# Lua
Lua/luac.out
Lua/*.src.rock
Lua/*.zip
Lua/*.tar.gz
Lua/*.o
Lua/*.os
Lua/*.ko
Lua/*.obj
Lua/*.elf
Lua/*.gch
Lua/*.pch
Lua/*.lib
Lua/*.a
Lua/*.la
Lua/*.lo
Lua/*.def
Lua/*.exp
Lua/*.dll
Lua/*.so
Lua/*.so.*
Lua/*.dylib
Lua/*.exe
Lua/*.out
Lua/*.app
Lua/*.i*86
Lua/*.x86_64
Lua/*.hex
# Node
Node/logs
Node/*.log
Node/npm-debug.log*
Node/yarn-debug.log*
Node/yarn-error.log*
Node/lerna-debug.log*
Node/.pnpm-debug.log*
Node/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
Node/pids
Node/*.pid
Node/*.seed
Node/*.pid.lock
Node/lib-cov
Node/coverage
Node/*.lcov
Node/.nyc_output
Node/.grunt
Node/bower_components
Node/.lock-wscript
Node/build/Release
Node/node_modules/
Node/jspm_packages/
Node/web_modules/
Node/*.tsbuildinfo
Node/.npm
Node/.eslintcache
Node/.stylelintcache
Node/.rpt2_cache/
Node/.rts2_cache_cjs/
Node/.rts2_cache_es/
Node/.rts2_cache_umd/
Node/.node_repl_history
Node/*.tgz
Node/.yarn-integrity
Node/.env
Node/.env.development.local
Node/.env.test.local
Node/.env.production.local
Node/.env.local
Node/.cache
Node/.parcel-cache
Node/.next
Node/out
Node/.nuxt
Node/dist
Node/.cache/
Node/.vuepress/dist
Node/.temp
Node/.cache
Node/.docusaurus
Node/.serverless/
Node/.fusebox/
Node/.dynamodb/
Node/.tern-port
Node/.vscode-test
Node/.yarn/cache
Node/.yarn/unplugged
Node/.yarn/build-state.yml
Node/.yarn/install-state.gz
Node/.pnp.*
# Python
Python/__pycache__/
Python/*.py[cod]
Python/*$py.class
Python/*.so
Python/.Python
Python/build/
Python/develop-eggs/
Python/dist/
Python/downloads/
Python/eggs/
Python/.eggs/
Python/lib/
Python/lib64/
Python/parts/
Python/sdist/
Python/var/
Python/wheels/
Python/share/python-wheels/
Python/*.egg-info/
Python/.installed.cfg
Python/*.egg
Python/MANIFEST
Python/*.manifest
Python/*.spec
Python/pip-log.txt
Python/pip-delete-this-directory.txt
Python/htmlcov/
Python/.tox/
Python/.nox/
Python/.coverage
Python/.coverage.*
Python/.cache
Python/nosetests.xml
Python/coverage.xml
Python/*.cover
Python/*.py,cover
Python/.hypothesis/
Python/.pytest_cache/
Python/cover/
Python/*.mo
Python/*.pot
Python/*.log
Python/local_settings.py
Python/db.sqlite3
Python/db.sqlite3-journal
Python/instance/
Python/.webassets-cache
Python/.scrapy
Python/docs/_build/
Python/.pybuilder/
Python/target/
Python/.ipynb_checkpoints
Python/profile_default/
Python/ipython_config.py
Python/.pdm.toml
Python/.pdm-python
Python/.pdm-build/
Python/__pypackages__/
Python/celerybeat-schedule
Python/celerybeat.pid
Python/*.sage.py
Python/.env
Python/.venv
Python/env/
Python/venv/
Python/ENV/
Python/env.bak/
Python/venv.bak/
Python/.spyderproject
Python/.spyproject
Python/.ropeproject
Python/site
Python/.mypy_cache/
Python/.dmypy.json
Python/dmypy.json
Python/.pyre/
Python/.pytype/
Python/cython_debug/
# Rust
Rust/debug/
Rust/target/
Rust/Cargo.lock
Rust/**/*.rs.bk
Rust/*.pdb
